@import url('https://fonts.googleapis.com/css?family=Oswald');
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

.container {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

.center-block {
  margin: 0 auto;
  text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.btn {
  padding: 0.8rem 1.2rem;
  color: white;
  border: 1px solid #6456AC;
  border-radius: 5px;
  background-color: #6456AC;
  width: 40%;
  text-align: center;
  margin: 1rem;
}
