

.hero {
  background-image: url('../../images/hero-bg.jpg');
  background-size: cover;
  height: 100vh;

  &::before{
    background: linear-gradient(45deg, rgba(250, 236, 217, 0.8),rgba(229, 253, 250, 0.8));
    content: '';
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $theme-purple-lighter;

  &__title {
    margin: 0;
    font-size: 6em;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
    // color: white;
    z-index: 2;
    @include gradient-text;
  }

  &__subtitle {
    font-weight: lighter;
    color: $theme-purple;
    z-index: 2;
  }

  &__cta {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 30rem;
    padding: 2rem 0px;
    z-index: 2;

    i.fa {
      margin-right: 0.4rem;
    }

    a {
      margin-right: 1rem;
      text-decoration: none;


      &:last-child {
        margin-right: 0;
        background-color: transparent;
        border: $theme-purple solid 2px;
        color: $theme-purple;
      }
    }
  }
}
