.section {
  background-color: #fff;
  color: $theme-purple-lighter;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    margin: 0;
    font-size: 2.6rem;
    margin-bottom: 2rem;
    border: 1px solid red;
  }

  &__subtitle {
    font-weight: lighter;
    border: 1px solid red;
  }

  &__description {
    font-size: 1rem;
    line-height: 1.8rem;
    font-size: lighter;
    border: 1px solid red;
  }

}
