.section {
  background-color: #fff;
  color: #5b5a59;
  min-height: 100vh;
  padding: 1rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: $break-xs) {
    text-align: center;
  }

  &__profile-image {
    @include profile-image(150px, #e3e3e3);
    margin-bottom: 1rem;
  }

  &__title {
    margin: 0;
    font-size: 2.6rem;
    color: $theme-purple;
  }

  &__subtitle {
    font-weight: lighter;
    margin-top: 0.2rem;
    color: $theme-purple;
  }

  &__description {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    font-size: lighter;
  }

}

.card-list {
  text-align: center;
  margin-top: 3rem;

  .card {
    padding: 2rem;
    word-wrap: break-word;

    h2 {
      color: $theme-purple-lighter;
    }

    .fa {
      font-size: 2rem;
      text-align: center;
      color: $theme-purple-lighter;
    }
  }
}
